fieldset#Input {
  display: grid;
  grid-auto-flow: column;
}

fieldset#Input form {
  display: grid;
  grid-auto-flow: row;
}

fieldset#Items {
  display: grid;
  grid-auto-flow: row;
}

fieldset#Items div {
  display: grid;
  grid-auto-flow: column;
  /* transition-behavior: allow-discrete;
  transition: order 1s ; */
}

input {
  width: 60%;
}